.userCard {
    display: flex;
    width: 100%;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.15);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.profilePicture > img {
    width: 6.5rem;
    border-radius: 50%;
}

.myConnections{
    display:flex;
    width:100%;
    justify-content: space-around;
    padding-bottom:1.5rem;
    cursor: pointer;
}
.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connectedButton {
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    border: 1px solid rgba(46,95,3,0.77);
    outline: none;
    color: rgba(46,95,3,0.77);
    border-radius: 10px;
    cursor: pointer;
}


